<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carteira de Ativos - Início</title>
    <link rel="stylesheet" type="text/css" href={{url_for('static', path='styles.css')}}>
    <link rel="shortcut icon" href={{url_for('static', path='favicon/favicon.png')}} type="image/x-icon">
</head>
<body style="background-image: url(../static/img/money.png);">
    <header>
        <div class="container">
            <h1>Carteira de Ativos</h1>
            <nav>
                <ul>
                    <li><a href="/home">Início</a></li>
                    <li><a href="/cadastro">Cadastrar Usuário</a></li>
                    <li><a href="/ativos">Gerenciar Ativos</a></li>
                    <li><a href="/list">Listar Usuários</a></li>
                </ul>
            </nav>
        </div>
    </header>
    
    <main>
        <div class="container">
            <h2>Bem-vindo à Carteira de Ativos</h2>
            <div class="intro-text">
                <p>Nós do "Carteira de Ativos" somos uma plataforma intuitiva para gerenciar usuários e seus ativos favoritos no mercado financeiro.</p>
                <p>Com uma interface limpa e organizada, o site permite que os usuários realizem operações de cadastro, gerenciamento e consulta de ativos de maneira eficiente.</p>
                <p>Este site é ideal para investidores e entusiastas do mercado financeiro que desejam um gerenciamento eficiente e personalizado de seus ativos favoritos.</p>
                <p>A navegação intuitiva e as funcionalidades focadas em usabilidade tornam a experiência do usuário agradável e produtiva.</p>
            </div>
        </div>
    </main>

    <footer>
        <div class="container">
            <p>&copy; 2024 Carteira de Ações. Todos os direitos reservados.</p>
        </div>
    </footer>
</body>
</html>
