<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carteira de Ativos - Listagem de Usuários</title>
    <link rel="stylesheet" type="text/css" href={{url_for('static', path='styles.css')}}>
    <link rel="shortcut icon" href={{url_for('static', path='favicon/favicon.png')}} type="image/x-icon">
</head>
<body style="background-image: url(../static/img/money.png);">
    <header>
        <div class="container">
            <h1>Carteira de Ativos</h1>
            <nav>
                <ul>
                    <li><a href="/home">Início</a></li>
                    <li><a href="/cadastro">Cadastrar Usuário</a></li>
                    <li><a href="/ativos">Gerenciar Ativos</a></li>
                    <li><a href="/list">Listar Usuários</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <div class="container">
            <section id="user-assets-list">
                <h2>ID - Usuário - Ativos Favoritos</h2>
                <div id="users-assets">
                    {% for user in users %}
                        <h2>{{ user.id }} - {{ user.name }} - {% for favorite in user.favorites %} {{ favorite.symbol }}, {% endfor %}</h2>
                    {% endfor %}
                </div>
            </section>
        </div>
    </main>

    <footer>
        <div class="container">
            <p>&copy; 2024 Carteira de Ações. Todos os direitos reservados.</p>
        </div>
    </footer>
</body>
</html>
